.btn-login {
  color: #fff;
  background-color: #b9b9b9;
  margin: 30px 0;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #0000;
  border-radius: 4px;
  text-decoration: none;
}
.btn-login:hover {
  color: #fff;
  background-color: #8a8a8a;
  text-decoration: none;
}
